.payresult-container {
    text-align: center;

    .payresult__tip {
        font-size: 24px;
        color: #222222;
        line-height: 40px;
        padding: 20px 0;
        width: 90%;
        margin: 0 auto;
    }

    .van-dialog__header {
        color: #f4691b;
        font-size: 17px;
    }

    // 取消按钮
    .van-dialog__cancel {
        color: #888888;
        font-size: 15px;
    }

    // 确认按钮
    .van-dialog__confirm {
        color: #f4691b;
        font-size: 15px;
    }
}
